# Ignore these file types
Textures/Models/*
Textures/Particles/*
Textures/Voxels/*

Textures/BackgroundCube/*
Textures/Debug/*
Textures/Decals/*
Textures/FactionLogo/*
Textures/Gizmo/*
Textures/GUI/*
Textures/HUD/*
Textures/Lights/*
Textures/Logo/*
Textures/Miscellaneous/*
Textures/Models/*
Textures/Sprites/*
Textures/SunGlare/*

Tools/*

MatLib_*
*.blend1
conversion.log
Materials/GFA.blend
Materials/GFA.xml
Materials/ME_Flora.blend
Textures/Custom/GFA/*